@import url('https://fonts.googleapis.com/css?family=Catamaran&display=swap');

*{
  font-family: 'IBM Plex Sans', sans-serif;
}

ion-content ion-toolbar {
  --background: translucent;
}

ion-img{
width:25%;
height:auto;
border-radius: 50%
}

ion-item{
border-style: none;
font-family:'IBM Plex Sans', sans-serif;
}

ion-chip{
  color:red !important;
  background-color:rgba(42, 148, 146, 0.7);
}